@using EVCBooking.Models;
@using EVCBooking.Models.Booking;
@using EVCBooking.Models.GroupBooking;
@using EVCBooking.Services;

@model InfoBooking;
@{
    Keywords keyword = ViewBag.keyword;

    //Data tìm chính xác theo keyword
    List<EVCBooking.Models.GroupBooking.Result> q1 = ViewBag.data[0];
    //Data tìm chính theo tháng ngoại trừ ngày hiện tại
    List<EVCBooking.Models.GroupBooking.Result> q2 = ViewBag.data[1];
    int index = 1;
}



<div class="ui card" style="width:100%">
    @if (q1.Count > 0)
    {
        <div class="content">
            @if (keyword.BookType == "ONEWAY")
            {
                <div class="header" style="font-size:0.99em;"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY MỘT CHIỀU [@keyword.DepartureCode<i class="long arrow alternate right icon" style="visibility: visible;"></i>@keyword.ArrivalCode,<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("dd/MM/yyyy")]</div>
            }
            else
            {
                <div class="header" style="font-size:0.99em;"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY KHỨ HỒI [@keyword.DepartureCode<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("dd/MM/yyyy")] <i class="exchange alternate icon" style="visibility: visible;"></i>[@keyword.ArrivalCode<i class="calendar alternate icon"></i>@keyword.ArrivalDate.Value.ToString("dd/MM/yyyy")]</div>
            }

        </div>
        <div class="content" style="padding:20px;">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="ui grid">

                            @foreach (var item in q1)
                            {
                                <div class="sixteen wide mobile eight wide tablet eight wide computer column" style="padding:10px 10px">
                                    <table class="ui unstackable celled table" style="text-align:center">
                                        <thead style="text-align:left">
                                            <tr style="padding-top:0.5em;padding-bottom:0.5em">
                                                <th colspan="5"><img src="~/images/@Html.Name(item.airline+".png")" width="60px" height="30px" /> @item.routes[0].departureCode - @item.routes[0].arrivalCode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@item.routes[0].flightCode</td>
                                                <td>@item.routes[0].departureDate.ToString("dd/MM/yyyy")</td>
                                                <td>@item.routes[0].departureHour</td>
                                            </tr>
                                            @if (item.typeOfTrip == "ROUNDTRIP")
                                            {
                                                <tr>
                                                    <td>@item.routes[1].flightCode</td>
                                                    <td>@item.routes[1].departureDate.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.routes[1].departureHour</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="3">Giá giảm: áp dụng cho đoàn từ 10 khách</td>
                                            </tr>
                                            <tr>
                                                <td style="color:red;font-weight:600">
                                                    <del style="font-size:0.8em;color:#717171">@string.Format($"{@item.priceAgent:#,##0}", @item.priceAgent)</del><br>
                                                    @string.Format($"{@item.price:#,##0}", @item.price)
                                                </td>
                                                <td><button class="ui mini blue button __detail__" id="@Html.Name("detail")@index">Chi tiết</button></td>
                                                <td><button class="ui mini red button btn__booking__buy" id="@item.id" booktype="@keyword.BookType" person="@keyword.NumberOfPassengers">Chọn mua</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                @* Modal để hiển thị điều kiện *@
                                <div class="ui modal" id="@Html.Name("__detail"+@index+"__")">
                                    <div class="header" style="font-size:1.4rem;text-align:center; background-image: linear-gradient(to right, #4568DC 0%, #B06AB3  51%, #4568DC  100%);color:#ffff">THÔNG TIN CHUYẾN BAY</div>
                                    <div class="content">
 
                                        <table class="ui unstackable celled table">
                                            <thead>
                                                <tr>
                                                    <th colspan="5">THÔNG TIN CHI TIẾT GIÁ VÉ</th>
                                                </tr>
                                                <tr>
                                                    <th>Số lượng</th>
                                                    <th>Giá vé</th>
                                                    <th>Thuế & phí</th>
                                                    <th>Giảm giá</th>
                                                    <th>Tổng giá</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@keyword.NumberOfPassengers</td>
                                                    <td>@string.Format($"{@item.price:#,##0}", @item.price)</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>@string.Format($"{keyword.NumberOfPassengers*item.price:#,##0}", keyword.NumberOfPassengers*item.price)</td>
                                                </tr>
                                            </tbody>
                                        </table>                                     

                                        @* Một chiều *@
                                        <table class="ui unstackable celled table">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">
                                                        Chuyến bay từ @item.routes[0].departureCode <i class="long arrow alternate right icon" style="visibility: visible;"></i>@item.routes[0].arrivalCode
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span><i class="clock outline icon" style="visibility: visible;"></i>Giờ khởi hành</span>: @item.routes[0].departureHour<br>
                                                        <span><i class="calendar alternate outline icon" style="visibility: visible;"></i>Ngày khởi hành</span>: @item.routes[0].departureDate.ToString("dd-MM-yyyy")<br>
                                                        <span><i class="receipt icon" style="visibility: visible;"></i>Mã chuyến bay</span>: @item.routes[0].flightCode
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        @if (item.typeOfTrip == "ROUNDTRIP")
                                        {
                                            @* Khứ hồi *@
                                            <table class="ui unstackable celled table">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3">
                                                            Chuyến bay từ @item.routes[1].departureCode <i class="long arrow alternate right icon" style="visibility: visible;"></i>@item.routes[1].arrivalCode
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span><i class="clock outline icon" style="visibility: visible;"></i>Giờ khởi hành</span>: @item.routes[1].departureHour<br>
                                                            <span><i class="calendar alternate outline icon" style="visibility: visible;"></i>Ngày khởi hành</span>: @item.routes[1].departureDate.ToString("dd-MM-yyyy")<br>
                                                            <span><i class="receipt icon" style="visibility: visible;"></i>Mã chuyến bay</span>: @item.routes[1].flightCode
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }


                                        @* Điều kiện riêng *@
                                        <div class="ui card" style="width:100%">
                                            <div class="content" style="background:#F9FAFB">
                                                <div class="header">Điều kiện riêng</div>
                                            </div>
                                            <div class="content">
                                                <div class="ui small feed">
                                                    <div class="event">
                                                        <div class="content">
                                                            <div class="summary">
                                                                @Html.Raw(item.condition)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        @* Điều kiện chung *@
                                        <div class="ui card" style="width:100%">
                                            <div class="content" style="background:#F9FAFB">
                                                <div class="header">Điều kiện chung</div>
                                            </div>
                                            <div class="content">
                                                <div class="ui small feed">
                                                    <div class="event">
                                                        <div class="content">
                                                            <div class="summary">
                                                                @Html.Raw(item.general_condition)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="top actions">
                                        <div class="ui negative button">Đóng</div>
                                    </div>
                                </div>
                                index++;
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    else
    {
        <div class="ui card" style="width:100%">
            <div class="content">
                <div class="content">
                    @if (keyword.BookType == "ONEWAY")
                    {
                        <div class="header" style="font-size:0.99em"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY MỘT CHIỀU [@keyword.DepartureCode <i class="long arrow alternate right icon" style="visibility: visible;"></i>@keyword.ArrivalCode]<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("dd/MM/yyyy")</div>
                    }
                    else
                    {
                        <div class="header" style="font-size:0.99em"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY KHỨ HỒI [@keyword.DepartureCode<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("dd/MM/yyyy")] <i class="exchange alternate icon" style="visibility: visible;"></i>[@keyword.ArrivalCode<i class="calendar alternate icon"></i>@keyword.ArrivalDate.Value.ToString("dd/MM/yyyy")]</div>
                    }

                </div>
            </div>
            <div class="content">
                <div class="ui small feed">
                    <div class="event">
                        <div class="ui center aligned message" style="width:100%">
                            <div class="content" style="text-align:left">
                                <div class="header">
                                    Dữ liệu chuyến bay không được tìm thấy.
                                </div>
                                <p>Vui lòng chọn hành trình khác...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (q2.Count > 0)
    {
        <div class="content">
            @if (keyword.BookType == "ONEWAY")
            {
                <div class="header" style="font-size:0.99em"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY MỘT CHIỀU [@keyword.DepartureCode<i class="long arrow alternate right icon" style="visibility: visible;"></i>@keyword.ArrivalCode,<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("MM/yyyy")]</div>
            }
            else
            {
                <div class="header" style="font-size:0.99em;"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY KHỨ HỒI [@keyword.DepartureCode<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("MM/yyyy")] <i class="exchange alternate icon" style="visibility: visible;"></i>[@keyword.ArrivalCode<i class="calendar alternate icon"></i>@keyword.ArrivalDate.Value.ToString("MM/yyyy")]</div>
            }

        </div>
        <div class="content" style="padding:20px;">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="ui grid">

                            @foreach (var item in q2)
                            {
                                <div class="sixteen wide mobile eight wide tablet eight wide computer column" style="padding:10px 10px">
                                    <table class="ui unstackable celled table" style="text-align:center">
                                        <thead style="text-align:left">
                                            <tr style="padding-top:0.5em;padding-bottom:0.5em">
                                                <th colspan="5"><img src="~/images/@Html.Name(item.airline+".png")" width="60px" height="30px" /> @item.routes[0].departureCode - @item.routes[0].arrivalCode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@item.routes[0].flightCode</td>
                                                <td>@item.routes[0].departureDate.ToString("dd/MM/yyyy")</td>
                                                <td>@item.routes[0].departureHour</td>
                                            </tr>
                                            @if (item.typeOfTrip == "ROUNDTRIP")
                                            {
                                                <tr>
                                                    <td>@item.routes[1].flightCode</td>
                                                    <td>@item.routes[1].departureDate.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.routes[1].departureHour</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="3">Giá giảm: áp dụng cho đoàn từ 10 khách</td>
                                            </tr>
                                            <tr>
                                                <td style="color:red;font-weight:600">
                                                    <del style="font-size:0.8em;color:#717171">@string.Format($"{@item.priceAgent:#,##0}", @item.priceAgent)</del><br>
                                                    @string.Format($"{@item.price:#,##0}", @item.price)
                                                </td>
                                                <td><button class="ui mini blue button __detail__" id="@Html.Name("detail")@index">Chi tiết</button></td>
                                                <td><button class="ui mini red button btn__booking__buy" id="@item.id" booktype="@keyword.BookType" person="@keyword.NumberOfPassengers">Chọn mua</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                @* Modal để hiển thị điều kiện *@
                                <div class="ui modal" id="@Html.Name("__detail"+@index+"__")">
                                    <div class="header" style="font-size:1.4rem;text-align:center; background-image: linear-gradient(to right, #4568DC 0%, #B06AB3  51%, #4568DC  100%);color:#ffff">THÔNG TIN CHUYẾN BAY</div>
                                    <div class="content">

                                        <table class="ui unstackable celled table">
                                            <thead>
                                                <tr>
                                                    <th colspan="5">THÔNG TIN CHI TIẾT GIÁ VÉ</th>
                                                </tr>
                                                <tr>
                                                    <th>Số lượng</th>
                                                    <th>Giá vé</th>
                                                    <th>Thuế & phí</th>
                                                    <th>Giảm giá</th>
                                                    <th>Tổng giá</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@keyword.NumberOfPassengers</td>
                                                    <td>@string.Format($"{@item.price:#,##0}", @item.price)</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>@string.Format($"{keyword.NumberOfPassengers*item.price:#,##0}", keyword.NumberOfPassengers*item.price)</td>
                                                </tr>
                                            </tbody>
                                        </table>                                 

                                        @* Một chiều *@
                                        <table class="ui unstackable celled table">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">
                                                        Chuyến bay từ @item.routes[0].departureCode <i class="long arrow alternate right icon" style="visibility: visible;"></i>@item.routes[0].arrivalCode
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span><i class="clock outline icon" style="visibility: visible;"></i>Giờ khởi hành</span>: @item.routes[0].departureHour<br>
                                                        <span><i class="calendar alternate outline icon" style="visibility: visible;"></i>Ngày khởi hành</span>: @item.routes[0].departureDate.ToString("dd-MM-yyyy")<br>
                                                        <span><i class="receipt icon" style="visibility: visible;"></i>Mã chuyến bay</span>: @item.routes[0].flightCode
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        @if (item.typeOfTrip == "ROUNDTRIP")
                                        {
                                            @* Khứ hồi *@
                                            <table class="ui unstackable celled table">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3">
                                                            Chuyến bay từ @item.routes[1].departureCode <i class="long arrow alternate right icon" style="visibility: visible;"></i>@item.routes[1].arrivalCode
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span><i class="clock outline icon" style="visibility: visible;"></i>Giờ khởi hành</span>: @item.routes[1].departureHour<br>
                                                            <span><i class="calendar alternate outline icon" style="visibility: visible;"></i>Ngày khởi hành</span>: @item.routes[1].departureDate.ToString("dd-MM-yyyy")<br>
                                                            <span><i class="receipt icon" style="visibility: visible;"></i>Mã chuyến bay</span>: @item.routes[1].flightCode
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }


                                        @* Điều kiện riêng *@
                                        <div class="ui card" style="width:100%">
                                            <div class="content" style="background:#F9FAFB">
                                                <div class="header">Điều kiện riêng</div>
                                            </div>
                                            <div class="content">
                                                <div class="ui small feed">
                                                    <div class="event">
                                                        <div class="content">
                                                            <div class="summary">
                                                                @Html.Raw(item.condition)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        @* Điều kiện chung *@
                                        <div class="ui card" style="width:100%">
                                            <div class="content" style="background:#F9FAFB">
                                                <div class="header">Điều kiện chung</div>
                                            </div>
                                            <div class="content">
                                                <div class="ui small feed">
                                                    <div class="event">
                                                        <div class="content">
                                                            <div class="summary">
                                                                @Html.Raw(item.general_condition)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="top actions">
                                        <div class="ui negative button">Đóng</div>
                                    </div>
                                </div>
                                index++;
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    else
    {
        <div class="ui card" style="width:100%">
            <div class="content">
                <div class="content">
                    @if (keyword.BookType == "ONEWAY")
                    {
                        <div class="header" style="font-size:0.99em;"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY MỘT CHIỀU [@keyword.DepartureCode<i class="long arrow alternate right icon" style="visibility: visible;"></i>@keyword.ArrivalCode,<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("MM/yyyy")]</div>
                    }
                    else
                    {
                        <div class="header" style="font-size:0.99em;"><i class="list icon" style="visibility: visible;"></i>DANH SÁCH CHUYẾN BAY KHỨ HỒI [@keyword.DepartureCode<i class="calendar alternate icon"></i>@keyword.DepartureDate.ToString("MM/yyyy")] <i class="exchange alternate icon" style="visibility: visible;"></i>[@keyword.ArrivalCode<i class="calendar alternate icon"></i>@keyword.ArrivalDate.Value.ToString("MM/yyyy")]</div>
                    }

                </div>
            </div>
            <div class="content">
                <div class="ui small feed">
                    <div class="event">
                        <div class="ui center aligned message" style="width:100%">
                            <div class="content" style="text-align:left">
                                <div class="header">
                                    Dữ liệu chuyến bay không được tìm thấy.
                                </div>
                                <p>Vui lòng chọn hành trình khác...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<div class="ui mini modal" id="booking__modal">
    @using (Html.BeginForm("CreateBooking", "Home", FormMethod.Post, new { @class = "ui form segment", @id = "form__booking" }))
    {
        <div class="ui card" style="width:100%">
            <div class="content">
                <div class="header">THÔNG TIN ĐẶT VÉ</div>
            </div>
            <div class="content">
                @Html.TextBoxFor(b => Model.ID, new{@id="send_id_booking",@hidden="hidden"})
                @Html.TextBoxFor(b => Model.BookType, new{@id="send_id_booktype",@hidden="hidden"})
                @Html.TextBoxFor(b => Model.NumberOfPassengers, new{@id="send_id_numberOfpassengers",@hidden="hidden"})
                <div class="field">
                    @*<label>Họ & tên đệm</label> *@
                    @Html.TextBoxFor(b => Model.Passengers[0].FirstName, new{@required="required", @placeholder="Họ & tên đệm"})
                </div>
                <div class="field">
                    @* <label>Tên</label> *@
                    @Html.TextBoxFor(b => Model.Passengers[0].LastName, new{@required="required", @placeholder="Tên"})
                </div>
                <div class="field">
                    @* <label>Số điện thoại</label> *@
                    @Html.TextBoxFor(b => Model.Phone, new{@required="required",@placeholder="Số điện thoại"})
                </div>
                <div class="field">
                    @* <label>Email</label> *@
                    @Html.TextBoxFor(b => Model.Email, new{@required="required",@placeholder="Email",@type="email"})
                </div>
                <div class="right actions" style="text-align:right;">
                    <div class="ui mini negative button">Hủy</div>
                    <button type="submit" class="ui mini green button">Đặt vé</button>
                </div>
            </div>
        </div>
    }
</div>

<div class="ui mini modal" id="msg__booking_modal">
    <div class="header">Thông báo</div>
    <div class="scrolling content" id="body__booking__modal">
        ...
    </div>
</div>